*,
*:before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  background-image: url("https://images.unsplash.com/photo-1512389098783-66b81f86e199?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2288&q=80");
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
