:root {
  --primary-color: #ffffff;

  --primary-font: "Noto Serif", sans-serif;

  --font-weight-reg: 400;
  --font-weight-bold: 700;
  --font-size-h1: 4.5rem;
  --font-size-h2: 3rem;
  --font-size-p: 2.25rem;
  --font-size-span: 1.75rem;
}
