.countdown-wrapper {
  display: flex;
  flex-wrap: no-wrap;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: whitesmoke;
  opacity: 0.8;
}

.countdown-element {
  padding: 10px;
  text-align: center;
  font-size: var(--font-size-h2);
}

.big-text {
  padding: 10px;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  font-family: var(--primary-font);
}

.countdown-element span {
  text-transform: capitalize;
  font-size: var(--font-size-span);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-bold);
}
