@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;1,700&display=swap");

h1 {
  display: block;
  font-family: var(--primary-font);
  font-weight: var(--font-weight-reg);
  font-size: var(--font-size-h1);
}

h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h2);
}

span {
  font-family: var(--primary-font);
  font-size: var(--font-size-span);
}

p {
  line-height: 1rem;
  font-weight: var(--font-weight-reg);
  font-size: var(--font-size-p);
}
